#jumbotron1 {
    height: 330px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: image-url("home2.png");
    margin-bottom: 0;
}


#jumbotron2 {
    height: 350px;
    text-align: center;
    font-family:'Raleway';
    margin-bottom: 0;
}


#jumbotron3 {
    height: 450px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: image-url("home-beauty.jpg");

}

#home-title {
	font:'Raleway';
}